header {
    background-color: darkgray;
    width: auto;
    border: 1px solid black;
    margin-bottom: 30px;
}

li img {
    margin-top: 10%;
    margin-left:10%;
    vertical-align: middle;
    border: 1px  black;
}
li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%;
    margin-bottom: 30px;
}

#section1 img {
    border: 1px solid black;
    margin-left: 1px;
    margin-bottom: 30px;
}

#section2 img {
    border: 1px solid black;
    margin-left: 1px;
    margin-right: 20px;
    margin-bottom: 30px;
}

div h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

p {
    overflow: scroll;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    padding: 10px;
    width: 420px;
    height: 290px;
}

div { 
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 18px;
    font-style: italic;
    padding: 10px;
    width: 420px;
    height: 400px;
    
}

div img {
    margin-top: 30px;
    display: inline-block;
}

a:hover {
    opacity: 0.6;
}

footer {
    background-color: darkgray;
    margin-top: 30px;
    width: auto;
    height: 100px;
}