header {
    background-color: darkgray;
    width: auto;
    border: 1px solid black;
    margin-bottom: 30px;
}

li img {
    margin-top: 15%;
    /* margin-left: auto;
    margin-right: auto; */
    vertical-align: middle;
    border: 1px  black;
}
li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9%;
}

#section1 img {
    display: block;
    
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 960px;
}
#section2 img {
    border: 1px solid black;
    display: inline-block;
}

#middleImageSection2 {
    margin-left: 23px;
    margin-right: 23px;
}



/* to hide scroll bar */
p::-webkit-scrollbar {
    display: none;
}

p {
    overflow: scroll;
    display: inline-block;
    font-style: italic;
    padding-right: 10px;
    width: 440px;
    height: 330px;
}

div img {
    display: inline-block;
}

article h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
}

article { 
    
    display: inline-block;
    margin-left: 30px;
    font-size: 19px;
    font-style: italic;
    /* padding: 10px; */
    width: 425px;
    height: 330px;
    vertical-align: top;
}

a {
    display: inline-block;
    margin-top: 5px;
}

a:hover {
    opacity: 0.6;
}

footer {
    background-color: darkgray;
    margin-top: 30px;
    width: auto;
    height: 100px;
}